:root {
  --my-border-space: 0px;
}

.my-container {
  width: 100%;
  max-width: 1440px;
}

.my-border {
  border: none;
}

.my-pointer {
  cursor: pointer;
}

.my-content-height {
  min-height: calc(100vh - 259px + var(--my-border-space));
}
